body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eef2f3;
    line-height: 1.6;
}

header {
    background: white;
    color: #6bb77b;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #d76f30;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

section {
    background-color: white;
    border: 2px solid #d76f30;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    color: #172d13; 
    font-size: 1.8rem;
    margin-top: 0;
    border-bottom: 2px solid #6bb77b;
    padding-bottom: 5px;
}

p {
    color: #555; 
}

ul {
    padding-left: 20px;
}

ul li {
    margin: 5px 0;
    color: #d76f30;
}

footer {
    background:#6bb77b;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
}

footer h2 {
    margin: 0;
    color: #d76f30;
}

footer p {
    margin: 5px 0;
}